.footer {
  width: 100vw;
  display: flex;
  padding: 3em 0.5em 1em;
  color: #fff;
  background-color: #292525;
  justify-content: center;
}

.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.footer__box,
.footer__links {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  max-width: 300px;
}

.footer__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
  color: #fff;
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
}

.footer__desc {
  font-size: 1.4rem;
  text-align: center;
}

.footer__title {
  color: #369669;
  font-size: 2rem;
}

.footer__link {
  color: #fff;
}

.footer__contact {
  display: flex;
  gap: 0.3em;
}

.footer__line {
  height: 2px;
  margin: 2em 0 1em;
  border: none;
  background-color: rgba(56, 56, 56, 0.315);
}

.footer__date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em 0.5em;
  text-align: center;
}

.footer__logo-name {
  color: #369669;
  font-weight: 500;
}

.footer__icons {
  display: flex;
  gap: 0.5em;
}

.footer__icon-bg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #fff;
  border-radius: 50%;
}

.footer__icon {
  color: #369669;
}

@media (min-width: 768px) {
  .footer__content {
    flex-direction: row;
    gap: 4em;
    align-items: start;
  }

  .footer__logo {
    font-size: 3rem;
  }

  .footer__box,
  .footer__links,
  .footer__desc {
    align-items: start;
  }

  .footer__desc {
    text-align: start;
  }

  .footer__link {
    transition: color 0.3s ease;
  }

  .footer__link:hover {
    color: #369669;
  }

  .footer__icon-bg {
    transition: background-color 0.3s ease;
  }

  .footer__icon-bg:hover {
    background-color: inherit;
    cursor: pointer;
  }
}
